body { 
  font-family: Arial, Helvetica, sans-serif;
  color: #575c5f;
}
h1 {
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 49px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: -2px;
}
iframe
{
	border-style: solid; 
	border-width: 0px;
}
.navbar-inner {
padding: 10px;
background-color: #4CAF50;
background-image: -moz-linear-gradient(top,#575c5f,#474b4e);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#575c5f),to(#474b4e));
background-image: -webkit-linear-gradient(top,#575c5f,#474b4e);
background-image: -o-linear-gradient(top,#575c5f,#474b4e);
background-image: linear-gradient(to bottom,#575c5f,#474b4e);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff575c5f',endColorstr='#ff474b4e',GradientType=0);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.125);
-moz-box-shadow: 0 2px 6px rgba(0,0,0,.125);
box-shadow: 0 2px 6px rgba(0,0,0,.125);
}
.footer_outer {
position: absolute;
z-index: -1;
bottom: 2px;
margin-bottom: 2px;
width: 99%;
text-align: center;
}
.directions{
color: #fff;
font-weight: bold;
letter-spacing: 1px;
text-decoration: none;
text-shadow: 0 -1px 0 #484c4f;
/*text-transform: uppercase;*/
}
body { 
  font-family: Arial, Helvetica, sans-serif;
}

#cy {
  height: 200%;
  width: 100%;
  position: absolute;
  left: 0;
    position: absolute;
    top: 135px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white /* show me! */


}

#info {
  color: #c88;
  font-size: 12em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

#container {
    display: inline-block;
    position: relative;
    width: 100%;
}
#dummy {
    padding-top: 75%; /* 4:3 aspect ratio */
}
#element {
}
